##### standard #####

# RStudio files
.Rproj.user

# History files
.Rhistory

# Session data files
.RData

# User-specific files
.Ruserdata

# R Environment Variables
.Renviron





##### my files #####
# produced vignettes
vignettes/*.html

/data/manke/group/balan/projects/Yilong_SG_Illumina_totRNAhu/code/
/data/manke/group/balan/projects/Yilong_SG_Illumina_totRNAhu/code_R/
/data/manke/group/balan/projects/Yilong_SG_Illumina_totRNAhu/code_B/

.gitignore
.*
*.out
*.err
./data
./libs
./tools
*.Rproj
./sandbox
./bin/prototypes
